# Solution catalog
.vs/
LuxuryWebV1/.vs/
.vscode/

# Project debug assets
LuxuryWebV1/App_Data/
LuxuryWebV1/bin/*
!/LuxuryWebV1/bin/roslyn/

# Private config 
LuxuryWebV1/Web.config
LuxuryWebV1/Web.Debug.config
LuxuryWebV1/Web.Release.config 

# Resources folder of Pictures
LuxuryWebV1/Resources/Pictures/
# Test place & Test result 
LuxuryWebV1/Test
LuxuryWebV1/TestResult